.comment {
    width: 100%;
    background-color: #e9e8e8;
    padding: 3rem;
    border-radius: 8px;
    text-align: center;

    &__area {
        display: block;
        border: none;
        padding: .9rem .8rem;
        outline: none;
        margin: 0 auto 2rem auto;
        border-radius: 5px;
        width: 55%;
        background-color: white;

        &::placeholder {
            font-weight: 600;
        }

        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }

    &__add {
        background-color: rgb(24, 131, 0);
        color: #fff;
        border: none;
        padding: .9rem .4rem;
        margin: 0 auto;
        border-radius: 4px;
        width: 14rem;
        cursor: pointer;
        font-weight: bold;
        
        &:hover {
            background-color: rgb(31, 167, 1);
        }
    }
}
